@import "viriables";
@mixin fullScreen{
  //position: absolute;
  height: 100%;
  width: 100%;
}
@mixin NavPage{
  @include fullScreen;
  &__Nav {
    height: 100%;
  }
  &__Content {
    height: 100%;
  }
}

@mixin  PositionCenter{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

@mixin CenterCard{
  max-width: 10rem;
  margin-left: auto;
  margin-right: auto;
}

@mixin Card {
  max-width: 12rem;
  margin-left: auto;
  margin-right: auto;
}
